@use './variables' as *;

//mixins
@mixin box($width, $height:$width){
    width: $width;
    height: $height;
}
@mixin transparent-line {
    border-bottom: 4px transparent solid;
    inset:0;
    position: relative;
}
@mixin no-text-decor {
    text-decoration: none;
    color: inherit;
}
//container for addresses 
@mixin footer-card{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    row-gap: 1.5rem;
    .footer__mid-container-title {
        font-weight:600;
    }
    .footer__mid-container--text {
        display: flex;
        flex-direction: column;
    }
}
//flexbox mixins 
@mixin flex-column {
    display: flex;
    flex-direction: column;
}
@mixin flex-just-center {
    display: flex;
    justify-content: center;
}
@mixin flex-alig-center {
    display: flex;
    align-items: center;
}
@mixin flex-just-start{
    display: flex;
    justify-content: flex-start;
}

//media queries
@mixin tablet {
    @media (min-width: $tablet-breakpoint){
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop-breakpoint){
        @content;
    }
}
