//colors 
$primary-black: #323232;
$primary-medium: #AFAFAF;
$primary-light: #FFFFFF;
$secondary-black: #000000;
$secondary-medium: #E1E1E1;
$secondary-light: #FAFAFA;

//breakpoint
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;



