@use './partials/variables' as *;
@use './partials/mixins' as *;
@use './partials/typography' as *;
@use './partials/global' as *;

* {
    margin: 0;
    padding: 0;
}


//The Bees Knees Section
.section__hero-container {
    background-image: url(../assets/images/hero-bio.jpg);
    background-position: center;
    background-size: cover;
    height: 17.5rem;
    position: relative;
    margin-bottom: 0.5rem;
    display: flex;

    @include tablet {
        height: 28rem;
    }

    .section__hero-img--overlay {
        background-color: $primary-black;
        opacity: 50%;
        position: absolute;
        @include box(100%,100%);
    }
}
.section__hero-title {
   @include flex-just-start;
    color: $primary-light;
    font-size: 2rem;
    position: relative;
    align-self: center;
    margin: 1rem;

    @include tablet {
        font-size: 3.75rem;
        width: 90%;
        margin: auto;
    }
    @include desktop {
        padding: 1rem;
        width: 85%;
        margin: auto;
    }
}

//About the musicians section (Main Top Half)
.main__container-top{
    @include flex-column;
    color: $primary-black;

    .main__img-container {
        margin: 1rem;
        @include tablet {
            padding: 1rem;
            @include box(80%,31.25rem);
            margin: auto;
        }
        @include desktop {
            width: 65%;
            margin: auto;
        }
    }
    .main__container-top--text{
        padding-top: 1rem;
        padding-right: 1rem;
        padding-left: 1rem;
        font-size: 1.8rem;

        @include tablet {
            font-size: 3.75rem;
            margin: 2.25rem;
        }
        @include desktop {
            width: 85%;
            margin: auto;
            
        }
    }
    .main__container-top--quote {
        @include flex-column;
        font-weight: 600;
        margin: 1rem;
        letter-spacing: 2px;
        line-height: 150%;
        font-size: 0.813rem;

        @include tablet {
            font-size: 1rem;
            margin: auto;
            box-sizing: border-box;
            display: flex;
            width: 80%; 
        }
        @include desktop {
            width: 65%;
        }
    }
    .main__quote--bottom {
        @include tablet {
            font-size: 0.875rem;
            display: flex;
        }
        @include desktop {
            width: 65%;
        }
    }
}


//Main bottom half - About the musicians description section 
.main__container-bottom{
    padding-bottom: 1rem;
    margin: 1rem;
    @include flex-column;
    @include tablet {
        align-items: flex-start;
}

    .main__container-bottom-text {
        font-size: 1.5rem;
        display: flex;
        @include tablet {
            font-size: 2.25rem;
            font-weight: 600;
            padding: 1rem;
            width: 80%;
            margin: auto;
        }
        @include desktop {
            width: 65%;
        }
    }
    .main__container-bottom--descr {
        margin-top: 0.813rem;
        color: $primary-black;
        @include flex-column;
        row-gap: 1rem;
        @include tablet {
            display: flex;
            flex-direction: row;
            column-gap: 1rem;
            font-size: 0.875rem;
            padding: 1rem;
            width: 80%;
            line-height: 180%;
            margin: auto;
        }
        @include desktop {
            display: flex;
            width: 65%;
        }
        }
    }


//Photo gallery 
.section__photo-gallery-container {
    background-color: $secondary-light;
}
    .section__photo-gallery--text{
        margin: 1rem;
        padding-top: 2rem;
        @include tablet {
            font-size: 3.75rem;
            width: 90%;
            margin: auto;
        }
        @include desktop{
            width:85%;
            margin: auto;
        }
    }
    .section__photos-container {
        @include flex-column;
        padding: 1rem;
        justify-content: space-evenly;
        @include tablet {
            @include flex-just-center;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            align-content: center;
            padding-bottom: 3rem;     
        }
        @include desktop {
            width: 92%;
            margin: auto;
        }
        .section__photos-spacing{
            padding-bottom: 1.5rem;
            @include tablet {
                display: flex;
                width: 30%;
                padding: 0.5rem;
            }
        }
        .section__photos-spacing:hover {
            filter: grayscale(100%);
        }
    }

// Commenting/forum section 
.section__comment--container {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 2rem;
    .section__comment--heading {
        margin: 1rem;
        padding: 1rem;
        @include tablet {
            width: 90%;
            margin: auto;
            font-size: 3.75rem;
        }
        @include desktop {
            width: 85%;
            margin: auto;
        }
    }
}
.comment__container--main {
    display: flex;
    flex-direction: row;
    @include tablet{
        width: 85%;
        margin: auto;
    }
    @include desktop {
        width: 60%;
        margin: auto;
        
    }
}

.section__container--left {
    display: flex;
    flex-direction: column;
    width: 5%;
    margin: auto;

}
.comment__avatar {
    @include box(45px, 45px);
    clip-path: circle();
    margin-left: 1.7rem;
    margin-top: 2rem;
    object-fit: cover;
    display: flex;

}
.comment__container--right {
    display: flex;
    flex-direction: column;
    @include box(100%);
    padding: 2rem;
    @include tablet {
        width: 100%;
        margin: auto;
    }
    
}
#commentForm {
    @include flex-column;
    row-gap: 5px;
    
}
.comment__form--title {
    color: $primary-medium;
    font-weight: 600;
    
}
.comment__text--name {
    @include box(90%, 0.5rem);
    border-radius: 4px;
    padding: 1rem;
    
}
.comment__textarea {
    @include box(90%, 100px);
    border-radius: 4px;
    padding: 1rem;
}
.comment__button {
    font-weight: 600;
    color: $primary-light;
    background-color: $primary-black;
    border-radius:4px;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
   @include box(95%,40px)

}

// comment section under form 

.section__default_comment--container {
    display: flex;
    margin: 1rem;
    border-bottom: 1px $primary-medium solid;
    padding-bottom: 1rem;
}
.section__comment_container--bottom {
    display: flex;
    flex-direction: column;
    @include tablet {
        width: 85%;
        margin: auto;
    }
    @include desktop {
        width: 60%;
        margin: auto;
    }

}
.section__comment--left {
    display: flex;
    @include box(15%);
    justify-content: center;
    @include tablet {
        padding-top: 1rem;
    }
}
 
.section__comment_profile--img {
    display: flex;
    @include box( 45px, 45px);
    clip-path: circle();
    object-fit: cover;
    filter: grayscale(100%);
    background-color: $primary-medium;
}
.section__comment--right {
    display: flex;
    flex-direction: column;
    width: 95%;
    justify-content: flex-start;
}

.section__comment_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0.5rem;
    @include tablet {
        padding-top: 1rem;
    }
}
.section__comment--date {
    color: $primary-medium;
    font-weight: 600;
    padding-right: 1rem;
    font-size: 1rem;
    @include tablet {
        font-size: 1.5rem;
    }
}
.section__comment--name {
    color: $primary-black;
    font-weight: 600;
    padding-right: 1rem;
    font-size: 1rem;
    @include tablet {
        font-size: 1.5rem;
    }
}

.section__comment--text{
    display: flex;
    
    padding-right: 1rem;
    line-height: 180%;
    padding-bottom: 1rem;
    font-size: 1rem;
    justify-content: flex-start;
    @include tablet {
        font-size: 1.2rem;
    }
}
