@font-face {
  font-family: avenirNext;
  src: url("../assets/font/AvenirNextLTPro-Regular.otf") format("opentype");
  src: url("../assets/font/AvenirNextLTPro.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: avenirNext;
  src: url("../assets/font/AvenirNextLTPro-Demi.otf") format("opentype");
  src: url("../assets/font/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: avenirNext;
  src: url("../assets/font/AvenirNextLTPro-Bold.otf") format("opentype");
  src: url("../assets/font/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: avenirNext;
  font-weight: 700;
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  h1 {
    font-family: avenirNext;
    font-weight: 700;
    font-size: 3.75rem;
  }
}

h2 {
  font-family: avenirNext;
  font-weight: 600;
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  h2 {
    font-family: avenirNext;
    font-weight: 600;
    font-size: 2.25rem;
  }
}

h3 {
  font-family: avenirNext;
  font-weight: 400;
  font-size: 0.875rem;
}
@media (min-width: 768px) {
  h3 {
    font-family: avenirNext;
    font-weight: 400;
    font-size: 1.5rem;
  }
}

body {
  font-family: avenirNext;
  font-weight: 400;
  text-decoration: none;
  font-size: 0.8125rem;
}
@media (min-width: 768px) {
  body {
    font-family: avenirNext;
    font-weight: 400;
    text-decoration: none;
    font-size: 0.875rem;
  }
}

ul {
  list-style: none;
}

header {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  color: #E1E1E1;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  header {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
}
@media (min-width: 1280px) {
  header {
    display: flex;
  }
}
header .header__title-container {
  display: flex;
  justify-content: center;
  padding: 1rem;
  font-size: 1.5rem;
  border-bottom: 4px transparent solid;
  inset: 0;
  position: relative;
}
@media (min-width: 768px) {
  header .header__title-container {
    display: flex;
    align-items: center;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }
}
@media (min-width: 1280px) {
  header .header__title-container {
    padding: 1.5rem;
  }
}
header .header__title-link {
  text-decoration: none;
  color: #FFFFFF;
}
header nav {
  display: flex;
  justify-content: space-evenly;
  color: #E1E1E1;
  box-sizing: border-box;
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  header nav {
    display: flex;
    align-items: center;
    -moz-column-gap: 3rem;
         column-gap: 3rem;
  }
}
@media (min-width: 768px) {
  header nav {
    -moz-column-gap: 4rem;
         column-gap: 4rem;
  }
}
header nav .nav__left {
  display: flex;
  justify-content: center;
  width: 50%;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
  text-decoration: none;
  color: inherit;
  border-bottom: 4px transparent solid;
  inset: 0;
  position: relative;
}
@media (min-width: 768px) {
  header nav .nav__left {
    height: 5rem;
    align-items: center;
    border-bottom: 4px transparent solid;
    inset: 0;
    position: relative;
  }
}
header nav .nav__left:hover {
  border-bottom: 4px #FFFFFF solid;
  color: #FFFFFF;
}
header nav .nav__left:active {
  border-bottom: 4px #FFFFFF solid;
  color: #FFFFFF;
  font-weight: 600;
}
header nav .nav__right {
  display: flex;
  justify-content: center;
  width: 50%;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
  text-decoration: none;
  color: inherit;
  border-bottom: 4px transparent solid;
  inset: 0;
  position: relative;
}
@media (min-width: 768px) {
  header nav .nav__right {
    display: flex;
    align-items: center;
    border-bottom: 4px transparent solid;
    inset: 0;
    position: relative;
    height: 5rem;
  }
}
header nav .nav__right:hover {
  border-bottom: 4px #FFFFFF solid;
  color: #FFFFFF;
}
header nav .nav__right:active {
  border-bottom: 4px #FFFFFF solid;
  color: #FFFFFF;
  font-weight: 600;
}

footer {
  background-color: #323232;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: column;
  }
}
footer .footer__top-container {
  display: flex;
}
@media (min-width: 768px) {
  footer .footer__top-container {
    display: flex;
    align-items: center;
  }
}
footer .footer__top-container .footer__top--right {
  display: none;
}
@media (min-width: 768px) {
  footer .footer__top-container .footer__top--right {
    display: flex;
    align-items: center;
    padding: 1rem;
    margin-right: 1rem;
    font-size: 1.5rem;
    width: 20%;
    height: 1.25rem;
    justify-content: flex-end;
  }
}
footer .footer__top-container .footer__top-container--left {
  margin-right: 1rem;
  margin-left: 1rem;
}
@media (min-width: 768px) {
  footer .footer__top-container .footer__top-container--left {
    display: flex;
    padding: 1rem;
    width: 68%;
    margin: auto;
  }
}
@media (min-width: 1280px) {
  footer .footer__top-container .footer__top-container--left {
    display: flex;
    -moz-column-gap: 3rem;
         column-gap: 3rem;
  }
}
footer .footer__top-container .footer__top-container--left .footer__top--title {
  font-size: 2.75rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}
@media (min-width: 768px) {
  footer .footer__top-container .footer__top-container--left .footer__top--title {
    padding: 1rem;
    font-size: 2.75rem;
    display: flex;
  }
}
footer .footer__top-container .footer__top-container--left .footer__top--logo {
  display: flex;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  justify-content: flex-start;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
}
@media (min-width: 768px) {
  footer .footer__top-container .footer__top-container--left .footer__top--logo {
    padding: 1rem;
    display: flex;
  }
}
@media (min-width: 768px) {
  footer .footer__mid-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
  }
}
@media (min-width: 1280px) {
  footer .footer__mid-container {
    display: flex;
    justify-content: flex-start;
    -moz-column-gap: 3rem;
         column-gap: 3rem;
  }
}
footer .footer__mid-container--1 {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  row-gap: 1.5rem;
}
footer .footer__mid-container--1 .footer__mid-container-title {
  font-weight: 600;
}
footer .footer__mid-container--1 .footer__mid-container--text {
  display: flex;
  flex-direction: column;
}
footer .footer__mid-container--2 {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  row-gap: 1.5rem;
}
footer .footer__mid-container--2 .footer__mid-container-title {
  font-weight: 600;
}
footer .footer__mid-container--2 .footer__mid-container--text {
  display: flex;
  flex-direction: column;
}
footer .footer__mid-container--3 {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  row-gap: 1.5rem;
}
footer .footer__mid-container--3 .footer__mid-container-title {
  font-weight: 600;
}
footer .footer__mid-container--3 .footer__mid-container--text {
  display: flex;
  flex-direction: column;
}
footer .footer__bottom-text--title {
  font-size: 1.8rem;
  line-height: 1.8rem;
  margin: 1rem;
  padding-top: 1rem;
  width: 7.25rem;
  height: 1.25rem;
}
@media (min-width: 768px) {
  footer .footer__bottom-text--title {
    display: none;
  }
}
footer .footer__bottom-text--trademark {
  padding: 1rem;
}
@media (min-width: 768px) {
  footer .footer__bottom-text--trademark {
    padding: 2rem;
    width: 88.5%;
    margin: auto;
  }
}

* {
  margin: 0;
  padding: 0;
}

.section__hero-container {
  background-image: url(../assets/images/hero-bio.jpg);
  background-position: center;
  background-size: cover;
  height: 17.5rem;
  position: relative;
  margin-bottom: 0.5rem;
  display: flex;
}
@media (min-width: 768px) {
  .section__hero-container {
    height: 28rem;
  }
}
.section__hero-container .section__hero-img--overlay {
  background-color: #323232;
  opacity: 50%;
  position: absolute;
  width: 100%;
  height: 100%;
}
.section__hero-container .section__hero-title {
  display: flex;
  justify-content: flex-start;
  color: #FFFFFF;
  font-size: 2rem;
  position: relative;
  align-self: center;
  margin: 1rem;
}
@media (min-width: 768px) {
  .section__hero-container .section__hero-title {
    font-size: 3.75rem;
    width: 90%;
    margin: auto;
  }
}
@media (min-width: 1280px) {
  .section__hero-container .section__hero-title {
    padding: 1rem;
    width: 85%;
    margin: auto;
  }
}

.main__container-top {
  display: flex;
  flex-direction: column;
  color: #323232;
}
.main__container-top .main__img-container {
  margin: 1rem;
}
@media (min-width: 768px) {
  .main__container-top .main__img-container {
    padding: 1rem;
    width: 80%;
    height: 31.25rem;
    margin: auto;
  }
}
@media (min-width: 1280px) {
  .main__container-top .main__img-container {
    width: 65%;
    margin: auto;
  }
}
.main__container-top .main__container-top--text {
  padding-top: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  font-size: 1.8rem;
}
@media (min-width: 768px) {
  .main__container-top .main__container-top--text {
    font-size: 3.75rem;
    margin: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .main__container-top .main__container-top--text {
    width: 85%;
    margin: auto;
  }
}
.main__container-top .main__container-top--quote {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  margin: 1rem;
  letter-spacing: 2px;
  line-height: 150%;
  font-size: 0.813rem;
}
@media (min-width: 768px) {
  .main__container-top .main__container-top--quote {
    font-size: 1rem;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    width: 80%;
  }
}
@media (min-width: 1280px) {
  .main__container-top .main__container-top--quote {
    width: 65%;
  }
}
@media (min-width: 768px) {
  .main__container-top .main__quote--bottom {
    font-size: 0.875rem;
    display: flex;
  }
}
@media (min-width: 1280px) {
  .main__container-top .main__quote--bottom {
    width: 65%;
  }
}

.main__container-bottom {
  padding-bottom: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .main__container-bottom {
    align-items: flex-start;
  }
}
.main__container-bottom .main__container-bottom-text {
  font-size: 1.5rem;
  display: flex;
}
@media (min-width: 768px) {
  .main__container-bottom .main__container-bottom-text {
    font-size: 2.25rem;
    font-weight: 600;
    padding: 1rem;
    width: 80%;
    margin: auto;
  }
}
@media (min-width: 1280px) {
  .main__container-bottom .main__container-bottom-text {
    width: 65%;
  }
}
.main__container-bottom .main__container-bottom--descr {
  margin-top: 0.813rem;
  color: #323232;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
@media (min-width: 768px) {
  .main__container-bottom .main__container-bottom--descr {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
    font-size: 0.875rem;
    padding: 1rem;
    width: 80%;
    line-height: 180%;
    margin: auto;
  }
}
@media (min-width: 1280px) {
  .main__container-bottom .main__container-bottom--descr {
    display: flex;
    width: 65%;
  }
}

.section__photo-gallery-container {
  background-color: #FAFAFA;
}

.section__photo-gallery--text {
  margin: 1rem;
  padding-top: 2rem;
}
@media (min-width: 768px) {
  .section__photo-gallery--text {
    font-size: 3.75rem;
    width: 90%;
    margin: auto;
  }
}
@media (min-width: 1280px) {
  .section__photo-gallery--text {
    width: 85%;
    margin: auto;
  }
}

.section__photos-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: space-evenly;
}
@media (min-width: 768px) {
  .section__photos-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    padding-bottom: 3rem;
  }
}
@media (min-width: 1280px) {
  .section__photos-container {
    width: 92%;
    margin: auto;
  }
}
.section__photos-container .section__photos-spacing {
  padding-bottom: 1.5rem;
}
@media (min-width: 768px) {
  .section__photos-container .section__photos-spacing {
    display: flex;
    width: 30%;
    padding: 0.5rem;
  }
}
.section__photos-container .section__photos-spacing:hover {
  filter: grayscale(100%);
}

.section__comment--container {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 2rem;
}
.section__comment--container .section__comment--heading {
  margin: 1rem;
  padding: 1rem;
}
@media (min-width: 768px) {
  .section__comment--container .section__comment--heading {
    width: 90%;
    margin: auto;
    font-size: 3.75rem;
  }
}
@media (min-width: 1280px) {
  .section__comment--container .section__comment--heading {
    width: 85%;
    margin: auto;
  }
}
.section__comment--container .comment__container--main {
  display: flex;
  flex-direction: row;
}
@media (min-width: 768px) {
  .section__comment--container .comment__container--main {
    width: 85%;
    margin: auto;
  }
}
@media (min-width: 1280px) {
  .section__comment--container .comment__container--main {
    width: 60%;
    margin: auto;
  }
}
.section__comment--container .section__container--left {
  display: flex;
  flex-direction: column;
  width: 5%;
  margin: auto;
}
.section__comment--container .comment__avatar {
  width: 45px;
  height: 45px;
  -webkit-clip-path: circle();
          clip-path: circle();
  margin-left: 1.7rem;
  margin-top: 2rem;
  -o-object-fit: cover;
     object-fit: cover;
  display: flex;
}
.section__comment--container .comment__container--right {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 2rem;
}
@media (min-width: 768px) {
  .section__comment--container .comment__container--right {
    width: 100%;
    margin: auto;
  }
}

#commentForm {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.comment__form--title {
  color: #AFAFAF;
  font-weight: 600;
  font-size: 1.25rem;
}

.comment__text--name {
  width: 90%;
  height: 0.5rem;
  border-radius: 4px;
  padding: 1rem;
}

.comment__textarea {
  width: 90%;
  height: 100px;
  border-radius: 4px;
  padding: 1rem;
}

input, textarea {
  border-color: #AFAFAF;
  background-color: #FAFAFA;
}

input:focus, textarea:focus {
  border-color: #323232;
  outline: none;
}

.comment__input_state--error {
  border: 2px solid #D22D2D;
  outline: none;
}

.comment__button {
  font-weight: 600;
  color: #FFFFFF;
  background-color: #323232;
  border-radius: 4px;
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  width: 95%;
  height: 40px;
}

.section__default_comment--container {
  display: flex;
  margin: 1rem;
  border-bottom: 1px #AFAFAF solid;
  padding-bottom: 1rem;
}

.section__comment_container--bottom {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .section__comment_container--bottom {
    width: 85%;
    margin: auto;
  }
}
@media (min-width: 1280px) {
  .section__comment_container--bottom {
    width: 60%;
    margin: auto;
  }
}

.section__comment--left {
  display: flex;
  width: 15%;
  height: 15%;
  justify-content: center;
}
@media (min-width: 768px) {
  .section__comment--left {
    padding-top: 1rem;
  }
}

.section__comment--profile {
  width: 45px;
  height: 45px;
  background-color: #E1E1E1;
  -webkit-clip-path: circle();
          clip-path: circle();
}

.section__comment--right {
  display: flex;
  flex-direction: column;
  width: 95%;
  justify-content: flex-start;
}

.section__comment_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .section__comment_top {
    padding-top: 1rem;
  }
}

.section__comment--date {
  color: #AFAFAF;
  font-weight: 600;
  padding-right: 1rem;
  font-size: 1rem;
}
@media (min-width: 768px) {
  .section__comment--date {
    font-size: 1.5rem;
  }
}

.section__comment--name {
  color: #323232;
  font-weight: 600;
  padding-right: 1rem;
  font-size: 1rem;
}
@media (min-width: 768px) {
  .section__comment--name {
    font-size: 1.5rem;
  }
}

.section__comment--text {
  display: flex;
  justify-content: flex-start;
  padding-right: 1rem;
  line-height: 180%;
  padding-bottom: 1rem;
  font-size: 1rem;
}
@media (min-width: 768px) {
  .section__comment--text {
    font-size: 1.2rem;
  }
}/*# sourceMappingURL=bio.css.map */